{% extends "users/admin_base.html" %}

{% block search %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid dashboard_item">
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-12 mb-12 mb-3">
            <div class="card h-100 py-2 dashboard_header">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary">
                                <h1 class="h3 mb-0 text-gray-800">News Add Form</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow mb-4 dashboard_item_shadow br-10">
                <!-- Card Body -->
                <div class="card-body">
                    <form method="POST" id='news_add' enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form | crispy }}
                            <div id='form-errors'>{{ form_errors }}</div>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script%}
<script>
    $("#news_add").on("submit", function () {
        $(".loader").fadeIn();
    });//submit
</script>
{% endblock %}