{% load static %}

<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>Retnews &#8211; Best news, blog & magazine template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="{% static 'icon.png' %}">
    <meta name="theme-color" content="#030303">
    <!-- google fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
    <!-- header -->
    <header class="bg-light">

        <!-- modal.// -->
        <!-- End Navbar sidebar menu  -->
        <!-- end navbar -->
    </header>
    <!-- end header -->
    <section class="wrap__section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Login -->
                    <div class="card mx-auto" style="max-width: 380px;">
                        <div class="card-body">
                            {% if form.non_field_errors %}
                            <div class="alert alert-{{ active.tags }}">
                                {{ form.non_field_errors }}
                            </div>
                            {% endif %}
                            <form method="post" action="{% url 'user:admin-login' %}">

                                {% csrf_token %}
                                <input type="hidden" name="user_type" value="admin" />
                                <div class="form-group">
                                    <input class="form-control" placeholder="Email" type="text" name="username">
                                </div>
                                <!-- form-group// -->
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" type="password" name="password">
                                </div>
                                <!-- form-group// -->
                                <!-- form-group form-check .// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Login </button>
                                </div>
                                <!-- form-group// -->
                            </form>
                        </div>
                        <!-- card-body.// -->
                    </div>
                    <!-- card .// -->
                </div>
            </div>
        </div>
    </section>
</body>